* {
    margin: 0%;
}

.heading {
    background-color: rgb(26, 42, 108);
    color: white;
    height: 75px;
    padding-top: 35px;
}

nav {
    position: sticky;
    top: 0;
}

.intro {
    display: inline;
    padding-left: 55%;
}

.header {
    display: inline;
    margin-left: 40px;
}

.port {
    padding-left: 35px;
}

.hello {
    font-style: italic;
}

.middle {
    background-color: whitesmoke;
    color: black;
    height: 500px;
    padding-left: 20px;
}

.bio {
    display: inline-block;
    padding-left: 10px;
    width: 70%;
}

.photo {
    display: inline-block;
    padding-left: 65px;
    padding-top: 40px;
}

#RESUME {
    background-color: rgb(26, 42, 108);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#Resume {
    color: white;
}

#resume {
    padding-left: 10px;
    padding-top: 10px;
}

.non {
    padding-left: 30px;
}

.footer {
    background-color: rgb(26, 42, 108);
    color: white;
    height: 130px;
}

.address {
    padding-top: 20px;
    display: inline-block;
}

.gamil {
    padding-bottom: 50px;
}

a{
    color: white;
     text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: white;
    text-shadow: 
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff;
}

.nadu {
    padding-left: 220px;
    padding-top: 80px;
}

.quali {
    padding-left: 120px;
}

.gpu {
    height: 460px;
}

.geeks{
    padding-left: 120px;
    padding-top: 20px;
}

#certificate{
    padding-left: 110px;
    padding-top: 19px;
}

.edulast {
    background-color: rgb(26, 42, 108);
    height: 130px;
}

.frontend {
    padding-left: 150px;
    padding-top: 15px;
}

.front {
    display: inline;
}

.htmlimg {
    display: inline;
    padding-left: 90px;
}

.cssimg {
    display: inline;
    padding-left: 150px;
}

.jsimg {
    display: inline-block;
    padding-left: 100px;
}

#frontend {
    display: inline;
}

#HTML {
    display: inline;
}

#CSS {
    display: inline;
    padding-left: 90px;
}

#JAVASC {
    display: inline;
    padding-left: 70px;
}

.fronts {
    display: block;
    padding-left: 200px;
}

hr {
    color: black;
}

.backend {
    padding-left: 150px;
    padding-top: 15px;
}

.mongodbimg {
    display: inline;
    padding-left: 105px;
}

.sqlimg {
    display: inline;
    padding-left: 160px;
}

#MONGODB {
    display: inline;
    padding-left: 200px;
}

#SQL {
    display: inline;
    padding-left: 110px;
}

#backend {
    display: inline;
}

.back {
    display: inline;
}

.tool {
    display: inline;
    padding-left: 150px;
    padding-top: 15px;
}

#tool {
    display: inline;
}

.vsimg {
    display: inline;
    padding-left: 135px;
}

#VSCODE {
    display: inline;
    padding-left: 365px;
}

.platform {
    padding-top: 15px;
}

.micro {
    display: inline;
    padding-left: 150px;
    padding-top: 20px;
}

#micro {
    display: inline;
}

.excelimg {
    display: inline;
    padding-left: 120px;
}

.wordimg {
    display: inline;
    padding-left: 170px;
}

.pptimg {
    display: inline;
    padding-left: 140px;
}

#EXCEL {
    display: inline;
    padding-left: 350px;
}

#WORD {
    display: inline;
    padding-left: 35px;
}

#PPT {
    display: inline;
    padding-left: 80px;
}

.Extra {
    padding-top: 20px;
}

#project {
    color: black;
}
.projects {
    padding-left: 30px;
    padding-top: 25px;
}
.proof {
    padding-left: 120px;
    padding-top: 20px;
}
.portimg {
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.book {
    padding-left: 120px;
    padding-top: 20px;
}
.bookimg {
    padding-left: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#booklink {
    color: blue;
    font-size: medium;
    margin: 20px;
    margin-left: 240px;
}
.skills {
    padding-left: 60px;
    padding-top: 60px;
}

.skill {
    padding-left: 130px;
    padding-top: 20px;
}

.language {
    padding-left: 60px;
    padding-top: 40px;
}

#LANGUAGES {
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 78px;
}

